@page "/exchange"
@using GridCalc.App.CryptoExchange
@using GridCalc.App.Data.Entities
@using Syncfusion.Blazor.Inputs
@rendermode @(new InteractiveServerRenderMode(prerender: false))


<PageTitle>Exchange</PageTitle>

<h1>Grid Calc</h1>
<SfDropDownList  TValue="string" TItem="ExchangeRecord" PopupHeight="230px" Placeholder="Select a color" DataSource="@exchanges" @bind-Value="@selectedExchangeId">
    <DropDownListFieldSettings Text="Name" Value="Id"/>
</SfDropDownList>

<SfNumericTextBox TValue="decimal" @bind-Value="@gridStepSize" CssClass="e-style" Placeholder="Enter grid step size" FloatLabelType="@FloatLabelType.Always"></SfNumericTextBox>

<SfButton IsPrimary="true" @onclick="CalculateGridTrade">Primary</SfButton>

<h1>Number of arbitrage: @arbitrages</h1>

<style>
    .e-numeric.e-style .e-control.e-numerictextbox {
        color: royalblue;
        font-size: xx-large;
        border: 0px;
    }

    .e-input-group.e-style.e-control-wrapper:not(.e-success):not(.e-warning):not(.e-error):not(.e-float-icon-left), .e-float-input.e-control-wrapper:hover:not(.e-success):not(.e-warning):not(.e-error):not(.e-disabled):not(.e-float-icon-left) {
        border-color: royalblue;
    }

    .e-control-wrapper.e-numeric.e-float-input.e-style .e-spin-down {
        color: royalblue;
    }

    .e-control-wrapper.e-numeric.e-float-input.e-style .e-float-line::before {
        background: royalblue;
    }

    .e-control-wrapper.e-numeric.e-float-input.e-style .e-float-line::after {
        background: royalblue;
    }

    .e-control-wrapper.e-numeric.e-float-input.e-style .e-spin-up {
        color: royalblue;
    }

    .e-control-wrapper.e-numeric.e-float-input.e-style.e-input-group .e-float-text.e-label-top {
        color: royalblue;
        font-size: medium;
    }
</style>